<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <script src="vue.js"></script>
 
</head>
<body>
    
        <div id="app">
            <section class="one" >
                <div class="player">
                    <h3>You  </h3>
                    <!-- <h6> {{message}}</h6> -->
                   
                        <img src="abc.jpg" alt="">
                        <div class="heal">
                            <div class="heal-con" style="background-color: red;" :style="{width: playerheal + '%'}">
    
                            </div>
                        </div>
                </div>
                <div class="boss">
                    <h3>Boss</h3>
                        <img src="acc.jpg" alt="">
                        <div class="heal">
                            <div class="heal-con" style="background-color: red;" :style="{width: bossheal +'%'}">
    
                            </div>
                        </div>
                </div>
            </section>
            <section class="two" v-if="!gamestart">
                    <div class="start">
                        <button @click="start"> Start new game </button>
                    </div>
            </section>
            <section class="three" v-else="">
                    <button id="select1" @click="dam">Đấm</button>
                    <button id="select2" @click="da"> Đá</button>
                    <button id="select3" @click="hoimau">Hồi máu</button>
                    <button id="select4" @click="dauhang">Đầu hàng</button>
            </section>
            <section v-if="turns.length > 0">
                   <ul>
                        <li v-for="turn in turns" :key="turn" :class="{'player1': turn.isPlayer, 'player2': !turn.isPlayer}"> 
                        {{ turn.textLong }}
                    </li>
                   </ul>
            </section>
        </div>
    
</body>
<script src="script.js"></script>

</html>