
    #app{
        width: 80%;
        margin: auto;
        display: block;
    
    }
    button{
        padding: 10px 20px;
    }
    .one, .two,.three{
        display: flex;
        justify-content: space-evenly;
        margin: 20px;
      
    }
    img{
            width: 200px;
            height: 300px;
        }
    .player, .boss{
        text-align: center;
    }
    .three{
        width: 600px;
        margin: auto;
    }
    .heal
    {
        border: 1px solid #333;
        height: 20px;
        width: 300px;
        background-color: white;
       
    }
    .heal-con{
            height: 100%;
        }
    .player1{
        background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    }
    .player2{
        background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    }
    ul{
        margin: auto;
        list-style: none;
        width: 300px;
    }